body {
	font-family: 'Lato', sans-serif;
}

.navbar {
	background-color: #e2e2e2;
}

.navbar form {
	float: left;
	padding: 6px;
	width: 300px;
}

.form-group {
	margin: 2px;
	overflow: hidden;
}

.navbar .navbar-brand {
	padding: 0;
	height: 50px;
}

.container {
	max-width: 100%;
}

.form-inline input {
	width: 200px;
}

p.loading{
	float: right;
	display: block;
	margin-top: 12px;
	margin-right: 120px;
}

.title {
	padding-top: 4px;
	font-size: 90%;
	height: 3em;
	color: #111;
	overflow: hidden;
	text-align: center;
}

.author {
	margin-top: 8px;
	margin-left: 4px;
	font-size: 80%;
	font-weight: 300;
	float: right;
	clear: both;
}

.author a {
	color: #666;
}

.author a:hover {
	color: inherit;
}

.video-buttons {
	position: absolute;
	margin-top: -124px;
	margin-left: 0;
	width: 100%;
	overflow: visible;
	text-align: right;
}

.video-buttons a {
	opacity: 0;
	color: #444;
	cursor: pointer;
	display: inline-block;
	font-size: 200%;
	background: #fff;
	border-radius: 24px;
	line-height: 0.6em;
	padding: 16px 4px 6px;
	margin-top: -16px;
	margin-right: 4px;
	box-shadow: 0 2px 4px #999;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

.video-buttons a:hover {
	text-decoration: none;
	color: #000 !important;
}

.muted .click-mute {
	background-color: #ebb;
}

.click-mute {
	opacity: 0.7;
}

.watched .click-watched {
	background-color: #9b9;
}

.click-mute:hover {
	opacity: 1;
}

.duration {
	position: absolute;
	display: inline;
	height: 16px;
	line-height: 16px;
	color: #eee;
	vertical-align: top;
	opacity: 0.65;
	text-align: center;
	background: #111;
	border-radius: 3px;
	font-size: 13px;
	right: 2px;
	bottom: 3px;
	padding: 0 3px 0 3px;
}

.thumbnail:hover a {
	opacity: 1;
}

.thumbnail:hover .click-mute {
	opacity: 0.7;
}

.thumbnail:hover .click-mute:hover {
	opacity: 1;
}

.thumbnail:hover img {
	opacity: 1;
}

p.time {
	margin-top: -4px;
	margin-left: 4px;
	float: right;
	font-size: 75%;
	font-weight: 300;
	clear: both;
}

p.time abbr {
	border-bottom: none !important;
	color: #666;
}

.thumbnail {
	float: left;
	width: 200px;
	height: 200px;
	margin: 12px 4px;
	border: none;
}

.thumbnail:hover {
	background: #fafafa;
	box-shadow: 0 2px 4px #999;
}

.thumbnail .title a {
	text-decoration: none;
	color: #333;
}

.thumbnail:hover a {
	color: inherit;
}

.thumbnail img {
	opacity: 0.9;
}

.thumbnail .img-container {
	width: 192px;
	height: 108px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}

.muted {
	opacity: 0.3;
}

.watched {
	opacity: 0.5;
}

a:hover {
	color: #428bca !important;
}

.thumbnail img {
	width: 192px;
	margin-top: -18px;
}

.account-error {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	position: fixed;
	width: 100%;
	padding: 12px;
	bottom: 0;
	height: 40px;
	background: #e2e2e2;
}

footer label {
	vertical-align: top;
}
