body {
	font-family: 'Lato', sans-serif;
}

a:hover {
	cursor: pointer;
}

.brand {
	margin-left: 94px;
}

#start h2 {
	padding-top: 20px;
	padding-bottom: 36px;
}

#start .form-inline {
	margin-left: 120px;
}

.form-group {
	margin: 2px;
	overflow: hidden;
}

.container {
	max-width: 100%;
}

.form-inline input {
	width: 200px;
}

p.loading{
	float: right;
	display: block;
	margin-top: 12px;
	margin-right: 120px;
}

.title {
	position: relative;
	float: left;
	padding-top: 6px;
	font-size: 90%;
	height: 3.5em;
	text-decoration: none;
	color: #333;
	overflow: hidden;
	text-align: center;
	font-weight: 600;
	width: 90%;
	margin-left: 5%;
}

.title a {
	text-decoration: none;
	color: #444;
}

.title a:hover {
	color: #000 !important;
}

.author {
	margin-top: 8px;
	margin-left: 4px;
	font-size: 80%;
	font-weight: 300;
	float: right;
	clear: both;
}

.author a {
}

.author a:hover {
	color: inherit;
	text-decoration: none;
}

.video-buttons {
	position: relative;
	clear: none;
	top: -216px;
	width: 192px;
	height: 60px;
	overflow: hidden;
	text-align: right;
	padding-left: 8px;
}

.video-buttons a {
	opacity: 0;
	color: #444;
	display: inline-block;
	font-size: 200%;
	background: #fff;
	border-radius: 24px;
	line-height: 0.6em;
	padding: 16px 4px 6px;
	margin-top: -12px;
	margin-right: 4px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

.video-buttons a:hover {
	text-decoration: none;
	color: #000 !important;
}

.muted .click-mute {
	background-color: #ebb;
}

.click-mute {
	background-color: #ebb;
}

.click-mute {
	opacity: 0.7;
}

.watched .click-watched {
	background-color: #9b9;
}

.click-mute:hover {
	opacity: 1;
}

.duration {
	position: absolute;
	display: inline;
	height: 16px;
	line-height: 16px;
	color: #eee;
	vertical-align: top;
	opacity: 0.65;
	text-align: center;
	background: #111;
	border-radius: 3px;
	font-size: 13px;
	right: 2px;
	bottom: 3px;
	padding: 0 3px 0 3px;
}

.thumbnail:hover a {
	opacity: 1;
}

.thumbnail:hover .click-mute {
	opacity: 0.7;
}

.thumbnail:hover .click-mute:hover {
	opacity: 1;
}

.thumbnail:hover img {
	opacity: 1;
}

p.time {
	margin-top: -10px;
	margin-left: 4px;

	float: right;
	font-size: 75%;
	font-weight: 300;
	clear: both;
}

p.time abbr {
	border-bottom: none !important;
	color: #5cb85c;
}

.thumbnail {
	float: left;
	width: 200px;
	height: 200px;
	margin: 12px 4px;
	border: none;
}

.thumbnail:hover {
	background: #fafafa;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.thumbnail img {
	opacity: 0.9;
}

.thumbnail .img-container {
	width: 192px;
	height: 108px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}

.thumbnail .img-container-overlay {
	position: relative;
	top: -108px;
	width: 192px;
	height: 108px;
	border-radius: 4px;
	-webkit-transition: box-shadow .15s ease-in-out;
	-moz-transition: box-shadow .15s ease-in-out;
	-ms-transition: box-shadow .15s ease-in-out;
	-o-transition: box-shadow .15s ease-in-out;
	transition: box-shadow .15s ease-in-out;
}

.thumbnail:hover .img-container-overlay {
	box-shadow: 0 2px 6px rgba(0,0,0,0.6) inset;
}

.thumbnail-body {
	position: relative;
	top: -168px;
}

.muted {
	opacity: 0.3;
}

.watched {
	opacity: 0.5;
}

a:hover {
	color: #428bca !important;
}

.thumbnail img {
	width: 192px;
	margin-top: -18px;
}

.account-error {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	position: relative;
	float: left;
	right: 0;
	height: 40px;
	background: #eee;
	z-index: 100;
}

.sidebar h4 {
	text-align: center;
	cursor: pointer;
}

.sidebar-collapsed {
	position: fixed;
	padding: 0 24px;
	bottom: 50px;
	right: 0;
	box-shadow: -1px -2px 4px rgba(0,0,0,0.2);
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.channel {
	margin: 4px 0 2px -15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	height: 2em;
	overflow: hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.channel:hover {
	height: 100px;
	background: #ddd;
}

.channel:hover h5 {
	text-align: center;
	font-weight: 700;
}

.videolist {
	padding-bottom: 240px;
}

footer {
	position: fixed;
	width: 100%;
	padding: 12px;
	bottom: 0;
	height: 50px;
	background: #e2e2e2;
	z-index: 200;
}

footer .form-control {
	display: inline-block;
	width: 120px;
	margin-top: -8px;
}

footer input.form-control {
	height: 20px;
	width: 20px;
	vertical-align: text-bottom;
}

footer label,
footer input {
	vertical-align: middle;
}

#settings {
	width: 60%;
}

#info {
	width: 40%;
}
