<!DOCTYPE html>
<html lang="en" ng-app="ytsubgridApp" ng-controller="AppCtrl">
<head>
	<meta charset="utf-8">
	<title>YT SaneGrid - maintain sanity, zen procrastination</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="YT Sanegrid">
	<meta name="author" content="David Deutsch">
	<link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
	<link sizes="32x32" href="https://s.ytimg.com/yts/img/favicon_32.png" rel="icon">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/ytgrid.css" rel="stylesheet">
	<link href="css/angular-social.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
</head>
<body>
	<div id="wrap" class="container" ng-controller="AppRepeatCtrl" scroll="loadBottom()">
		<div id="main" class="row">

			<div id="start" class="col-md-6 col-md-offset-3" ng-if="start" ng-cloak>
				<h2>
					<img class="brand" src="https://www.youtube.com/yt/brand/media/image/yt-brand-flattype-2.png"/>
					Sane Grid
				</h2>
				<p>Hi there,<br/>This is a small app that helps you <strong>manage and enjoy your YouTube Subscriptions</strong> while keeping your sanity.</p>
				<p>I built it after the much beloved /my_subscriptions grid was killed off mercilessly and it is now almost en par, feature wise.</p>
				<p>"En par" is French for "it does the job"*, although it's ok if you're uncomfortable with somebody speaking French, especially if he's actually German.</p>
				<p><strong>To get started, simply enter your youtube username below</strong>.</p>
				<p><strong>Don't worry</strong>, nothing is stored on the server, this page works completely from and only stores data in your browser.</p>
				<p class="pull-right">*not really</p>
				<br />
				<hr />
				<br />
				<form class="form-inline" role="form" ng-submit="selectUserid(userid)">
					<div class="form-group">
						<label class="sr-only" for="userid">Your Username</label>
						<input
							ng-model="userid"
							id="userid"
							type="text"
							class="form-control"
							autofocus
							placeholder="Your YouTube Username">
						<button
							class="btn btn-default"
							type="submit"
							ng-click="selectUserid(userid)">
							Ok!
						</button>
					</div>
				</form>

				<br />

				<div id="errors" ng-if="forbidden||notfound||!start">
					<div class="account-error alert " ng-if="forbidden">
						<h4>Subscription List Private</h4>
						<p>The account that you entered has their subscription list private. If you own this account,
							you can go to your privacy settings page at
							<a ng-href="https://www.youtube.com/account_privacy">
								https://www.youtube.com/account_privacy
							</a>
							and make it public.</p>
					</div>
					<div class="account-error alert" ng-if="notfound">
						<h4>Account Not Found</h4>
						<p>The account you entered does not exist.</p>
					</div>
				</div>

				<br />
				<hr />
				<p>All code is free and open source software, you can check out the details below:</p>
				<ul ng-social-buttons data-url="'http://daviddeutsch.github.io/yt-sanegrid/'">
					<li class="ng-social-github" user="daviddeutsch" repository="yt-sanegrid">GitHub</li>
					<li class="ng-social-github-forks" user="daviddeutsch" repository="yt-sanegrid">Forks</li>
				</ul>
			</div>

			<div
				id="channellist"
				class="sidebar col-md-2"
				ng-class="{'sidebar-collapsed':!settings.sidebar}"
				ng-if="!start"
				>
				<h4 ng-click="togglesidebar()">Channels</h4>

				<div class="channel" ng-repeat="channel in channels track by $index">
					<i class="icon-eye-closed" ng-if="!channelstate.hidden[channel.name]"></i>
					<h5>
						{{ channel.name }}

					</h5>

					<input
							type="checkbox"
							id="channel-mute-{{ channel.id }}"
							ng-true-value="1"
							ng-false-value="0"
							ng-model="channelstate.hidden[channel.name]"
							ng-click="hideChannel(channel.name)"
							/>
					<label for="channel-mute-{{ channel.id }}">Hide Videos</label>
				</div>
			</div>

			<div
				class="videolist col-md-10"
				ng-class="{
					'hidemuted':settings.hidemuted=='1',
					'hidewatched':settings.hidewatched=='1',
					'col-md-10':settings.sidebar,
					'col-md-12':!settings.sidebar
				}"
				ng-if="!start"
				>
				<div ng-repeat="video in videolist() track by $index">
					<div class="thumbnail" ng-class="{'muted':video.muted,'watched':video.watched}">
						<div class="img-container">
							<img src="{{video.img}}" />
							<div class="duration">{{ video.duration | duration }}</div>
						</div>

						<a ng-mousedown="watch(video.link, video.id, $event)" target="__blank" title="{{video.title}}">
							<div class="img-container-overlay"></div>
						</a>

						<div class="video-buttons">
							<a ng-click="mute(video.id)" class="click-mute" title="mute and hide">&times;</a>
							<a ng-click="watched(video.id)" class="click-watched" title="mark as watched">&#10004;</a>
						</div>

						<div class="thumbnail-body">
							<div class="title">
								<a ng-mousedown="watch(video.link, video.id, $event)" target="__blank" title="{{video.title}}">{{video.title}}</a>
							</div>
							<p class="author text-muted">
								by <a ng-href="{{video.authorlink}}">{{video.author}}</a>
							</p>
							<p class="time">
								<abbr class="timeago" title="{{video.published}}"></abbr>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer ng-if="!start&&!forbidden&&!notfound">
			<div
					id="channel-btn"
					class="col-md-2"
					ng-if="!settings.sidebar"
					ng-click="togglesidebar()"
					>
				<h4>Channels</h4>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>
					<strong>{{ userid }}</strong>

					&nbsp;

					(<a ng-click="selectUserid('')">change</a>)
					</p>
				</div>
				<div class="col-md-7">
					<p>
						<button
							type="button"
							class="btn"
							ng-class="{'btn-primary':settings.hidemuted, 'btn-success':!settings.hidemuted}"
							ng-model="settings.hidemuted"
							btn-checkbox
							btn-checkbox-true="0"
							btn-checkbox-false="1"
							>
							<i ng-class="{'icon-eye-close':settings.hidemuted, 'icon-eye-open':!settings.hidemuted}"></i>
							&nbsp;&nbsp;Muted
						</button>

						&nbsp;&nbsp;&nbsp;

						<button
							type="button"
							class="btn"
							ng-class="{'btn-primary':settings.hidewatched, 'btn-success':!settings.hidewatched}"
							ng-model="settings.hidewatched"
							btn-checkbox
							btn-checkbox-true="0"
							btn-checkbox-false="1"
							>
							<i ng-class="{'icon-eye-close':settings.hidewatched, 'icon-eye-open':!settings.hidewatched}"></i>
							&nbsp;&nbsp;Watched
						</button>

						&nbsp;&nbsp;&nbsp;

						<button
								class="btn btn-default"
								type="submit"
								ng-click="refresh()"
								>
							<span ng-if="!status"><i class="icon-refresh"></i>&nbsp;&nbsp;Refresh</span>
							<span ng-if="status"><i class="icon-spinner icon-spin"></i>&nbsp;&nbsp;Loading...</span>
						</button>
					</p>
				</div>

				<div id="support" class="col-md-2">
					<div ng-controller="ModalDemoCtrl">
						<button class="btn btn-success" ng-click="open()"><i class="icon-heart"></i> Support the developer</button>
						<div modal="shouldBeOpen" close="close()" options="opts">
							<div class="modal-dialog">
							<div class="modal-content">
							<div class="modal-body">
								<h4>Hey, thanks a lot for using YT Sane Grid!</h4>
								<p>Please help me make it even better:</p>
								<hr>
								<div class="row">
								<div class="col-md-6">
									<p>Donate to the<br> "David buys awesome tea" fund</p>
									<iframe style="border: 0; margin: 0; padding: 0;"
											src="https://www.gittip.com/daviddeutsch/widget.html"
											width="48pt" height="22pt"></iframe>

									&nbsp;&nbsp;&nbsp;

									<script id='flattrbtn'>
										(function(i){
											var f,s=document.getElementById(i);
											f=document.createElement('iframe');
											f.src='//api.flattr.com/button/view/?uid=skore&button=compact&url='+encodeURIComponent(document.URL);
											f.title='Flattr';
											f.height=20;
											f.width=110;
											f.style.borderWidth=0;
											s.parentNode.insertBefore(f,s);
										})('flattrbtn');
									</script>

									&nbsp;&nbsp;&nbsp;

									<script type="text/javascript" src="https://blockchain.info//Resources/wallet/pay-now-button.js"></script>
									<div class="blockchain-btn"
										 data-address="1DLAnAVQjtZA6PRKomnumr27Km7ENPtgLc"
										 data-shared="false">
										<button class="btn btn-warning btn-xs blockchain stage-begin">
											<i class="icon-bitcoin"></i> Donate Bitcoins
										</button>
										<div class="blockchain stage-loading" style="text-align:center">
											<img src="https://blockchain.info//Resources/loading-large.gif" style="width:16px;"/>
										</div>
										<div class="blockchain stage-ready">
											<p>Please Donate To Bitcoin Address: <b>[[address]]</b></p>
											<p class="qr-code"></p>
										</div>
										<div class="blockchain stage-paid">
											Donation of <b>[[value]] BTC</b> Received. Thank You.
										</div>
										<div class="blockchain stage-error">
											<span style="color:red">[[error]]</span>
										</div>
									</div>

								</div>
								<div class="col-md-6">
									<p>Tell others about it:</p>
									<ul ng-social-buttons
										data-url="'http://daviddeutsch.github.io/yt-sanegrid/'"
										data-title="'Check out this sweet YouTube grid'"
										data-description="'Check out this sweet YouTube grid'"
										>
										<li class="ng-social-facebook">Facebook</li>
										<li class="ng-social-google-plus">Google+</li>
										<li class="ng-social-twitter">Twitter</li>
										<li class="ng-social-pinterest">Pinterest</li>
									</ul>
								</div>
								<div class="col-md-2"></div>
								</div>

								<hr>

								<p>Of course, you can also help directly by filing bug reports and/or feature request on GitHub:</p>
								<ul ng-social-buttons data-url="'http://daviddeutsch.github.io/yt-sanegrid/'">
									<li class="ng-social-github" user="daviddeutsch" repository="yt-sanegrid">GitHub</li>
									<li class="ng-social-github-forks" user="daviddeutsch" repository="yt-sanegrid">Forks</li>
								</ul>

							</div>
							<div class="modal-footer">
								<button class="btn btn-warning cancel" ng-click="close()">Close this</button>
							</div>

							</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</footer>

	</div>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.timeago.js"></script>

	<script src="js/ui-bootstrap-tpls-0.6.0-SNAPSHOT.min.js"></script>
	<script src="js/angular-cookies.js"></script>
	<script src="js/angular-social.js"></script>
	<script src="js/localStorage.js"></script>

	<script src="js/ytgridapp.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-365109-12', 'daviddeutsch.github.io');
		ga('send', 'pageview');
	</script>
</body>
</html>
