<!DOCTYPE html>
<html lang="en" ng-app="ytsubgridApp" ng-controller="AppCtrl">
<head>
	<meta charset="utf-8">
	<title>YT SaneGrid - A poor hack to make up for a grave loss</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="YT Sanegrid">
	<meta name="author" content="David Deutsch">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/ytgrid.css" rel="stylesheet">
	<link href="css/blue.css" rel="stylesheet">
</head>
<body>
	<div class="container" ng-controller="AppRepeatCtrl" scroll="loadBottom()">
		<header class="navbar" role="banner">
			<img class="navbar-brand" src="https://www.youtube.com/yt/brand/media/image/yt-brand-flattype-5.png"/>
			<form class="form-inline" role="form">
				<div class="form-group">
					<label class="sr-only" for="userid">Your Username</label>
					<input
							ng-model="userid"
							id="userid"
							type="text"
							class="form-control"
							placeholder="Your YouTube Username">
					<button
							class="btn btn-default"
							type="submit"
							ng-click="search(userid)">
						Search
					</button>
				</div>

			</form>
			<p ng-if="status" class="loading">Loading...</p>
		</header>
		<div class="account-error alert" ng-if="forbidden">
			<h4>Subscription List Private</h4>
			The account that you entered has their subscription list private. If you own this account,
			you can go to your privacy settings page at
			<a ng-href="https://www.youtube.com/account_privacy">
				https://www.youtube.com/account_privacy
			</a>
			and make it public.
		</div>
		<div class="account-error alert" ng-if="notfound">
			<h4>Account Not Found</h4>
			The account you entered does not exist.
		</div>
		<div ng-repeat="video in videos track by $index | filter:'muted'">
			<div class="thumbnail" ng-class="{'muted':video.muted,'watched':video.watched}">
				<div class="img-container">
					<img src="{{video.img}}" />
					<div class="video-buttons">
						<a ng-click="mute(video.id)" class="click-mute" title="mute and hide">&times;</a>
						<a ng-click="watched(video.id)" class="click-watched" title="mark as watched">&#10004;</a>
					</div>

					<div class="duration">{{ video.duration | duration }}</div>
				</div>
				<div class="title">
					<a ng-href="{{video.link}}" ng-click="watched(video.id)">{{video.title}}</a>
				</div>
				<p class="author text-muted">
					by <a ng-href="{{video.authorlink}}">{{video.author}}</a>
				</p>
				<p class="time">
					<abbr class="timeago" title="{{video.published}}"></abbr>
				</p>
			</div>
		</div>
		<div class="progress-bar" role="progressbar" style="width: 45%" ng-if="status">
			<span class='sr-only'>45% Complete</span>
		</div>
	</div>
	<footer>
		<input type="checkbox" id="settings-hidemuted" ng-model="settings.hidemuted"/>
		<label for="settings-hidemuted">Hide Muted</label>
		<input type="checkbox" id="settings-hidewatched" ng-model="settings.hidewatched"/>
		<label for="settings-hidewatched">Hide Watched</label>
		<span class="pull-right"><a href="https://github.com/daviddeutsch/yt-sanegrid">Fork me on GitHub</a></span>
	</footer>
	<script src="js/lodash.min.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.timeago.js"></script>
	<script src="js/jquery.icheck.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="js/angular-cookies.js"></script>
	<script src="js/localStorage.js"></script>
	<script src="js/ytgridapp.js"></script>
</body>
</html>
