<footer ng-if="!start&&!forbidden&&!notfound">
	<div
		id="channel-btn"
		class="col-md-2"
		ng-if="!settings.sidebar"
		ng-click="togglesidebar()"
		>
		<h4>Channels</h4>
	</div>
	<div id="stats">
		<div id="filterstats"
			 ng-if="filters.count">
					<span class="filters-active"
						  title="{{ filters.count }} filter(s) active">
						{{ filters.count }}&nbsp;<i class="icon-filter"></i>
					</span>

					<span class="filters-caught"
						  ng-if="filters.caught"
						  title="{{ filters.caught }} item(s) filtered in the last request">
						&nbsp;{{ filters.caught }}
					</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="btn-group">
				<button class="btn btn-info" disabled="disabled">
					<i class="icon-user"></i>
					<span title="{{ userid }}">
						<strong>{{ userid }}</strong>
					</span>
				</button>
				<button class="btn quiet" ng-click="selectUserid('')">
					<i class="icon-signout" title="Change User"></i>
				</button>
			</div>
		</div>
		<div class="col-md-4">
			<div class="btn-group">
				<button
					type="button"
					class="btn"
					ng-class="{'btn-primary':settings.hidemuted, 'btn-success':!settings.hidemuted}"
					ng-model="settings.hidemuted"
					btn-checkbox
					btn-checkbox-true="0"
					btn-checkbox-false="1"
					>
					<i ng-class="{'icon-eye-close':settings.hidemuted, 'icon-eye-open':!settings.hidemuted}"></i>
					<span>Muted</span>
				</button>
				<button
					type="button"
					class="btn"
					ng-class="{'btn-primary':settings.hidewatched, 'btn-success':!settings.hidewatched}"
					ng-model="settings.hidewatched"
					btn-checkbox
					btn-checkbox-true="0"
					btn-checkbox-false="1"
					>
					<i ng-class="{'icon-eye-close':settings.hidewatched, 'icon-eye-open':!settings.hidewatched}"></i>
					<span>Watched</span>
				</button>
			</div>

			<button
				type="button"
				class="btn btn-success"
				ng-controller="SettingsModalCtrl"
				ng-click="open()"
				>
				<i class="icon-cogs"></i>
				<span>Settings</span>
			</button>

			<button
				class="btn btn-default"
				type="submit"
				ng-click="refresh()"
				title="Refresh"
				>
				<i ng-class="{'icon-spinner icon-spin':status, 'icon-refresh':!status}"></i>
			</button>

		</div>

		<div id="support" class="col-md-2 footer-right">
			<div ng-controller="SupportModalCtrl">
				<div class="btn-group">
					<button class="btn btn-success" ng-click="open()">
						<span>
							<strong><i class="icon-heart" style="color:#cd4427"></i> support the developer</strong>
						</span>
					</button>
				</div>
			</div>
		</div>

		<div id="app" class="col-md-3 footer-right">
			<div ng-controller="UpdatesModalCtrl">
				<div class="btn-group">
					<button class="btn btn-warning" disabled="disabled">
						<strong><span style="color:#cd4427">yt</span>SaneGrid v{{ info.version }}</strong>
					</button>
					<button class="btn quiet" ng-class="{'btn-danger':info.updates.outdated}" ng-click="open()" title="{{ info.updates.title }}">
						<i ng-class="{'icon-circle':info.updates.outdated, 'icon-circle-blank':!info.updates.outdated}"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	</div>

</footer>
