<footer ng-if="!start">
	<div
		id="channel-btn"
		class="col-md-2 hidden-xs"
		ng-if="!settings.sidebar"
		ng-click="togglesidebar()"
		>
		<h4>Channels</h4>
	</div>

	<div id="stats" ng-if="filters.count" class="hidden-xs">
		<div id="filterstats">
			<span class="filters-active"
				  title="{{ filters.count }} filter(s) active">
				{{ filters.count }}&nbsp;<i class="icon-filter"></i>
			</span>

			<span class="filters-caught"
				  ng-if="filters.caught"
				  title="{{ filters.caught }} item(s) filtered in the last request">
				&nbsp;{{ filters.caught }}
			</span>
		</div>
	</div>

	<div class="btn-group hidden-xs">
		<button class="btn btn-info" disabled="disabled">
			<i class="icon-user"></i>
			<span title="{{ userid }}">
				<strong>{{ userid }}</strong>
			</span>
		</button>
		<button class="btn quiet" ng-click="selectUserid('')">
			<i class="icon-signout" title="Change User"></i>
		</button>
	</div>

	<div class="btn-group hidden-xs">
		<button
			type="button"
			class="btn"
			ng-class="{'btn-primary':settings.hidemuted, 'btn-success':!settings.hidemuted}"
			ng-model="settings.hidemuted"
			btn-checkbox
			btn-checkbox-true="0"
			btn-checkbox-false="1"
			>
			<i ng-class="{'icon-eye-close':settings.hidemuted, 'icon-eye-open':!settings.hidemuted}"></i>
			<span>Muted</span>
		</button>
		<button
			type="button"
			class="btn"
			ng-class="{'btn-primary':settings.hidewatched, 'btn-success':!settings.hidewatched}"
			ng-model="settings.hidewatched"
			btn-checkbox
			btn-checkbox-true="0"
			btn-checkbox-false="1"
			>
			<i ng-class="{'icon-eye-close':settings.hidewatched, 'icon-eye-open':!settings.hidewatched}"></i>
			<span>Watched</span>
		</button>
	</div>

	<div class="btn-group hidden-xs" ng-controller="SettingsModalCtrl">
		<button
			type="button"
			class="btn btn-success"
			ng-click="open()"
			>
			<i class="icon-cogs"></i>
			<span>Settings</span>
		</button>
	</div>

	<div class="btn-group hidden-xs">
		<button
			type="button"
			class="btn btn-default"
			ng-click="refresh()"
			title="Refresh"
			>
			<i class="icon-refresh" ng-class="{'icon-spinner icon-spin':status}"></i>
		</button>
	</div>

	<div class="btn-group hidden-xs" ng-controller="SupportModalCtrl">
		<button class="btn btn-success" ng-click="open()">
			<span>
				<strong><i class="icon-heart" style="color:#cd4427"></i> support the developer</strong>
			</span>
		</button>

	</div>

	<div class="hidden-xs" style="display: inline-block">
		<span class="quiet"><i class="icon-long-arrow-left"></i>&nbsp;Now accepting Dogecoin!</span>
	</div>

	<div class="btn-group pull-right" ng-controller="UpdatesModalCtrl">
		<button
			type="button"
			class="btn btn-success visible-xs"
			ng-controller="SettingsModalCtrl"
			ng-click="open()"
			>
			<i class="icon-cogs"></i>
		</button>
		<button
			class="btn btn-default visible-xs"
			type="submit"
			ng-click="refresh()"
			title="Refresh"
			>
			<i class="icon-refresh" ng-class="{'icon-spinner icon-spin':status}"></i>
		</button>
		<button class="btn btn-warning" disabled="disabled">
			<strong><span class="visible-xs"><span style="color:#cd4427">yt</span>SaneGrid</span><span class="hidden-xs"><span style="color:#cd4427">yt</span>SaneGrid&nbsp;v{{ info.version }}</span></strong>
		</button>
		<button class="btn quiet" ng-class="{'btn-danger':info.updates.outdated}" ng-click="open()" title="{{ info.updates.title }}">
			<i ng-class="{'icon-circle':info.updates.outdated, 'icon-circle-blank':!info.updates.outdated}"></i>
		</button>
	</div>

</footer>
