<div class="thumbnail"
	 ng-if="video.id"
	 ng-class="{'muted':video.muted,'watched':video.watched}">
	<div class="img-container">
		<img src="{{video.img}}"/>

		<div class="duration">{{ video.duration | duration }}</div>
	</div>

	<a href="{{ link() }}"
	   ng-mouseup="watch($event)"
	   target="video-{{ video.id }}"
	   title="{{video.title}}">
		<div class="img-container-overlay"></div>
	</a>

	<div class="video-buttons">
		<span ng-controller="FilterModalCtrl">
			<a ng-click="open(video)"
			   class="click-filter"
			   title="create a filter"><i class="icon-filter"></i></a>
		</span>
		<a ng-click="mute()"
		   class="click-mute"
		   title="mute and hide"><i class="icon-remove"></i></a>
		<a ng-click="watched(true)"
		   class="click-watched"
		   title="mark as watched"><i class="icon-ok"></i></a>
	</div>

	<div class="thumbnail-body">
		<div class="title">
			<a href="{{ link() }}"
			   ng-mouseup="watch($event)"
			   target="video-{{ video.id }}"
			   title="{{video.title}}">{{video.title}}</a>
		</div>
		<p class="author text-muted">
			by <a ng-href="{{video.authorlink}}">{{video.author}}</a>
		</p>

		<p class="time">
			<abbr class="timeago" title="{{video.published}}"></abbr>
			<abbr title='{{video.published | timestamp | date:medium}}'>
				<time-ago from-time='{{video.published | timestamp}}'></time-ago>
			</abbr>
		</p>
	</div>
</div>
