<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<div ng-controller="SettingsTabsCtrl">
				<tabset>
					<tab heading="Main">
						<h4>Account</h4>
						<hr />
						<div class="btn-group">
							<button class="btn btn-info" disabled="disabled">
								<i class="icon-user"></i>
								<span title="{{ userid }}">
									<strong>{{ userid }}</strong>
								</span>
							</button>
							<button class="btn quiet" ng-click="selectUserid('')">
								<i class="icon-signout" title="Change User"></i>
							</button>
						</div>
						<br />
						<h4>Visibility</h4>
						<hr />
						<div class="btn-group">
							<button
								type="button"
								class="btn"
								ng-class="{'btn-primary':settings.hidemuted, 'btn-success':!settings.hidemuted}"
								ng-model="settings.hidemuted"
								btn-checkbox
								btn-checkbox-true="0"
								btn-checkbox-false="1"
								>
								<i ng-class="{'icon-eye-close':settings.hidemuted, 'icon-eye-open':!settings.hidemuted}"></i>
								<span>Muted</span>
							</button>
							<button
								type="button"
								class="btn"
								ng-class="{'btn-primary':settings.hidewatched, 'btn-success':!settings.hidewatched}"
								ng-model="settings.hidewatched"
								btn-checkbox
								btn-checkbox-true="0"
								btn-checkbox-false="1"
								>
								<i ng-class="{'icon-eye-close':settings.hidewatched, 'icon-eye-open':!settings.hidewatched}"></i>
								<span>Watched</span>
							</button>
						</div>
						<br />
						<h4>AdBlock Override</h4>
						<hr />
						<p>Support the channels you follow by disabling adblock only for them.</p>
						<p>Add the following rule by going to AdBlock&rarr;Filter Preferences&rarr;Custom Filters&rarr;Add Filter</p>
						<p><strong>@@||youtube.com*&adblock={{settings.adblocksecret}}|$document</strong></p>
						<div class="btn-group">
							<button
								type="button"
								class="btn"
								ng-class="{'btn-primary':settings.adblockoverride, 'btn-success':!settings.adblockoverride}"
								ng-model="settings.adblockoverride"
								btn-checkbox
								btn-checkbox-true="0"
								btn-checkbox-false="1"
								>
								<i ng-class="{'icon-ok':settings.adblockoverride, 'icon-remove':!settings.adblockoverride}"></i>
								<span>Override AdBlock</span>
							</button>
						</div>
						<div class="visible-xs">
							<h4>Support</h4>
							<hr />
							<div ng-controller="SupportModalCtrl">
								<div class="btn-group">
									<button class="btn btn-success" ng-click="open()">
									<span>
										<strong><i class="icon-heart" style="color:#cd4427"></i> support the developer</strong>
									</span>
									</button>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Filters">
						<div class="global-filters clearfix">
							<h4>Global Filters</h4>
							<ul class="filter-list">
								<li
									class="label label-primary"
									ng-repeat="filter in filters.global track by $index"
									>
									<a ng-click="removeFilter('', $index)">&times;</a>
									{{ filter.string }}&nbsp;&nbsp;
								</li>
							</ul>
						</div>
						<div ng-repeat="channel in filters.channels" class="repeat-item clearfix">
							<hr />
							<h4>{{ channel.title }}</h4>
							<ul class="filter-list">
								<li class="label label-primary"
									ng-repeat="filter in channel.filters track by $index">
									<a ng-click="removeFilter(channel.title, $index)">&times;</a>
									{{ filter.string }}
								</li>
							</ul>
						</div>
					</tab>
					<tab heading="Channels">
						<div ng-include="'templates/channels.html'"></div>
					</tab>
				</tabset>
			</div>

		</div>
		<div class="clearfix modal-footer">
			<button class="btn btn-danger cancel" ng-click="cancel()">Close
			</button>
		</div>
	</div>
</div>
