<div id="start"
	 class="col-md-6 col-md-offset-3 ng-cloak"
	 ng-if="start"
	 ng-cloak>
	<div class="page-header">
		<h2>
			<img class="brand"
				 src="https://www.youtube.com/yt/brand/media/image/yt-brand-flattype-2.png"/>
			Sane&nbsp;Grid
		</h2>
		<h6>The subscription grid for<br />people who like to stay sane</h6>
	</div>

	<p>
		<strong>If you have a lot of subscriptions on YouTube</strong>, you know that it's
		hard to keep your sanity with the current interface, let alone the
		constant stream of user-hostile changes coming your way.
	</p>

	<p>
		Now, you <em>could</em> use a browser script to make the horrible "feeds"
		page a little easier on the eye&hellip; and always play catch-up with YouTube,
		<strong>or you could use YT Sanegrid</strong>.
	</p>

	<hr/>

	<h2>Currently <a href="https://github.com/daviddeutsch/yt-sanegrid/issues/137">updating to the YouTube v3 API</a>. Sorry, but stuff will be broken for a little while.</h2>
	<hr/>

	<p>
		<span class="highlight"><strong>Here is why it's better than a browser script:</strong></span>
	</p>

	<ul>
		<li>It has a <span class="highlight">minimal, pleasant, full-screen</span> interface</li>
		<li>It <span class="highlight">never forgets a video</span> once it's in your subscription inbox</li>
		<li>You can <span class="highlight">mark an item as watched or hide it</span> with one click</li>
		<li>It has <span class="highlight">advanced features like automatic filters</span> based on keywords</li>
		<li>It's <span class="highlight">actively developed</span> and if you have a good idea, I'll put it in</li>
	</ul>

	<hr/>

	<form class="form-inline text-center">
		<p>
			<strong>To get started, connect with your YouTube account:</strong>&nbsp;&nbsp;&nbsp;
			<span class="form-group" id="gSignIn">
				<button
					class="btn btn-default"
					type="submit"
					ng-click="connect()">
					Let's go!
				</button>
			</span>
		</p>
	</form>

	<hr/>

	<p>
		<strong>Don't worry</strong>, nothing is stored on a server because this
		page works completely from (and only stores data in) your browser.
	</p>

	<div id="errors" ng-if="forbidden||notfound||!start">
		<div class="account-error alert " ng-if="forbidden">
			<h4>Subscription List Private</h4>

			<p>
				The account that you entered has their subscription list
				private. If you own this account, you can go to your privacy
				settings page at
				<a ng-href="https://www.youtube.com/account_privacy">
					https://www.youtube.com/account_privacy
				</a>
				and make it public.</p>
		</div>
		<div class="account-error alert" ng-if="notfound">
			<h4>Account Not Found</h4>

			<p>The account you entered does not exist.</p>
		</div>
	</div>

	<hr/>
	<p>
		All code is free and open source software. If you want to help out by
		filing a bug report, a feature request, or if you just want to check
		out what is going on while I'm working on this, feel free to check out
		the project on Github:
	</p>
	<ul ng-social-buttons
		data-url="'http://daviddeutsch.github.io/yt-sanegrid/'">
		<li class="ng-social-github"
			user="daviddeutsch"
			repository="yt-sanegrid">GitHub
		</li>
		<li class="ng-social-github-forks"
			user="daviddeutsch"
			repository="yt-sanegrid">Forks
		</li>
	</ul>
</div>
