<div id="start"
	 class="col-md-6 col-md-offset-3 ng-cloak"
	 ng-if="start"
	 ng-cloak>
	<h2>
		<img class="brand"
			 src="https://www.youtube.com/yt/brand/media/image/yt-brand-flattype-2.png"/>
		Sane Grid
	</h2>

	<p>
		Hi there,<br/>This is a small app that helps you <strong>manage and
		enjoy
		your YouTube Subscriptions</strong> while keeping your sanity.
	</p>

	<p>
		I built it after the much beloved /my_subscriptions grid was killed off
		mercilessly and it is now almost en par, feature wise.
	</p>

	<p>
		"En par" is French for "it does the job"*, although it's ok if you're
		uncomfortable with somebody speaking French, especially if he's actually
		German.
	</p>

	<p>
		<strong>To get started, simply enter your youtube username
			below</strong>.
	</p>

	<p>
		<strong>Don't worry</strong>, nothing is stored on the server, this page
		works completely from and only stores data in your browser.
	</p>

	<p class="pull-right">*not really</p>

	<br/>
	<hr/>
	<br/>

	<form class="form-inline" role="form" ng-submit="selectUserid(userid)">
		<div class="form-group">
			<label class="sr-only" for="userid">Your Username</label>
			<input
				ng-model="userid"
				id="userid"
				type="text"
				class="form-control"
				autofocus
				placeholder="Your YouTube Username">
			<button
				class="btn btn-default"
				type="submit"
				ng-click="selectUserid(userid)">
				Ok!
			</button>
		</div>
	</form>

	<br/>

	<div id="errors" ng-if="forbidden||notfound||!start">
		<div class="account-error alert " ng-if="forbidden">
			<h4>Subscription List Private</h4>

			<p>
				The account that you entered has their subscription list
				private. If you own this account, you can go to your privacy
				settings page at
				<a ng-href="https://www.youtube.com/account_privacy">
					https://www.youtube.com/account_privacy
				</a>
				and make it public.</p>
		</div>
		<div class="account-error alert" ng-if="notfound">
			<h4>Account Not Found</h4>

			<p>The account you entered does not exist.</p>
		</div>
	</div>

	<br/>
	<hr/>
	<p>
		All code is free and open source software, you can check out the details
		below:
	</p>
	<ul ng-social-buttons
		data-url="'http://daviddeutsch.github.io/yt-sanegrid/'">
		<li class="ng-social-github"
			user="daviddeutsch"
			repository="yt-sanegrid">GitHub
		</li>
		<li class="ng-social-github-forks"
			user="daviddeutsch"
			repository="yt-sanegrid">Forks
		</li>
	</ul>
</div>
