<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3><strong>Zip it!</strong></h3>
		</div>
		<div class="modal-body">
			<p>Show all entries of a series in one item.</p>

			<p>Simply cut the text to leave the common bit in every title. For
				example: <span class="label label-primary">Etho Plays Minecraft
				Episode 945: Redstone Black Hole</span> would be cut down to
				<span class="label label-primary">Etho Plays Minecraft</span>
				to catch all new entries to the series.</p>

			<p>You can also <strong>choose whether the zip should apply to
				all channels</strong> or just the one that you were selecting a
				video from.</p>

			<p>
				If you want to change filters later on, you can do that in the
				Settings. Also note that you will only be able to click and watch
				the latest entry in a zip.
			</p>
			<br/>
			<textarea
				ng-model="filter.title"
				id="newfilter"
				class="form-control col-lg-6 clearfix"
				autofocus
				placeholder="Set up a new filter rule">
				{{ filter.title }}
			</textarea>
		</div>
		<div class="clearfix modal-footer">
			<div class="btn-group">
				<button
					type="button"
					class="btn btn-danger"
					btn-radio="''"
					ng-model="filter.channel"
					>On All Channels
				</button>
				<button
					type="button"
					class="btn btn-success"
					btn-radio="filter.authorid"
					ng-model="filter.channel"
					>Only On "{{ filter.author }}"
				</button>
			</div>
			<button
				class="btn btn-primary"
				type="submit"
				ng-click="ok()">
				Filter!
			</button>
			<button class="btn btn-danger cancel" ng-click="cancel()">Cancel
			</button>
		</div>
	</div>
</div>
